.repos-list {
  margin-top: 20px;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // height: 100vh;
  // overflow-y: scroll;
  // width: 60vw;
  
  &__item {
    display: flex;
    justify-content: space-between;
    border-color: #4c4c4d !important;
    padding: 20px 0;

    .repo-btn {
      background-color: #0d1117;
      padding: 0 15px;
      border: 2px solid rgb(84, 84, 84);
      border-radius: 20px;
    }
  }

  .bookmark {
    display: flex;
    align-items: center;
    border-bottom: 2px solid yellowgreen;
    span {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 2px 5px;
      border: none;
      border-radius: 5px 0 0 5px;
      background-color: #21262d;
    }

    select {
      border: none;
      padding: 5px 5px;
      border-radius: 0px 5px 5px 0px;
      background-color: #21262d;
    }
  }

  .language_dev{
    font-size: 12px;
    color:#8b949e;
  }
}
